.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #242530;
  width: 400px;
  height: 700px;
  font-family: "Inter", sans-serif;

  input {
    background-color: inherit;
    font-size: 55px;
    color: white;
    border: 0;
    height: 50px;
    width: 350px;
    margin-bottom: 50px;
  }

  input:focus {
    outline: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 78px 78px 78px 78px;
    gap: 17px;

    .grid-item {
      font-size: 30px;
      color: white;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 78px;
      width: 78px;
      border-radius: 100%;
      cursor: pointer;
    }

    .zero {
      grid-column: 1 / span 2;
      border-radius: 100px;
      width: 100%;
    }

    .grey {
      background-color: #b2b2b2;
    }

    .grey:hover {
      background-color: #cbc9c9;
    }

    .navy {
      background-color: #404258;
    }

    .navy:hover {
      background-color: #5f6285;
    }

    .orange {
      background-color: #f49d1a;
    }

    .orange:hover {
      background-color: #f6b046;
    }

    .black-font {
      color: black;
    }
  }
}
