<div class="wrapper">
  <input [(ngModel)]="showValue" type="text" readonly />
  <div class="grid-container">
    <button (click)="clearValue()" class="grid-item grey black-font">AC</button>
    <button (click)="negativeToggle()" class="grid-item grey black-font">
      +/-
    </button>
    <button (click)="inputValue('%')" class="grid-item grey black-font">
      %
    </button>
    <button (click)="inputValue('/')" class="grid-item orange">÷</button>
    <button (click)="inputValue('7')" class="grid-item navy">7</button>
    <button (click)="inputValue('8')" class="grid-item navy">8</button>
    <button (click)="inputValue('9')" class="grid-item navy">9</button>
    <button (click)="inputValue('*')" class="grid-item orange">×</button>
    <button (click)="inputValue('4')" class="grid-item navy">4</button>
    <button (click)="inputValue('5')" class="grid-item navy">5</button>
    <button (click)="inputValue('6')" class="grid-item navy">6</button>
    <button (click)="inputValue('-')" class="grid-item orange">−</button>
    <button (click)="inputValue('1')" class="grid-item navy">1</button>
    <button (click)="inputValue('2')" class="grid-item navy">2</button>
    <button (click)="inputValue('3')" class="grid-item navy">3</button>
    <button (click)="inputValue('+')" class="grid-item orange">+</button>
    <button (click)="inputValue('0')" class="grid-item zero navy">0</button>
    <button (click)="inputValue('.')" class="grid-item navy">.</button>
    <button
      (click)="equals()"
      [disabled]="showValue == '0' || currentValue == ''"
      class="grid-item orange"
    >
      =
    </button>
  </div>
</div>
